Django==5.2.8
django-cors-headers==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
channels-redis==4.2.0
psycopg[binary]==3.1.18
uvicorn==0.23.2
daphne==4.0.0
python-dotenv==1.0.0
corsheaders==4.3.0
